/*  ------------------------------

MEDIA QUERY HALLINTA

0-600px:    Puhelin
600-900px:  Tablet pysty
900-1200px: Tablet vaaka
1200-1800px:Normi
1800px +:   Isot ruudut

    
$breakpoint argument vaihtoehdot
-   phone
-   tab-port
-   tab-land
-   big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1 em = 16px

*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  outline: none; }

html,
body {
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #222; }

::selection {
  background-color: #7e358f;
  color: #ffb089; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.moveInLeft {
  opacity: 0;
  opacity: 1 \9;
  /*just in case ie*/
  animation: moveInLeft ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 1s; }

.moveInRight {
  opacity: 0;
  opacity: 1 \9;
  /*just in case ie*/
  animation: moveInRight ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 3s; }

.fadeIn {
  opacity: 0;
  opacity: 1 \9;
  /*just in case ie*/
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    animation-timing-function: ease-out; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

p, a, ul, li {
  font-family: 'Titillium Web', sans-serif; }

h1, h2, h3 {
  font-family: 'Squada One', cursive, sans-serif;
  text-align: center; }

.heading {
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #7e358f, #ffb089);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  max-width: 80rem; }
  .heading__h1 {
    font-size: 18rem;
    padding-left: 2rem;
    letter-spacing: 2rem;
    line-height: 18rem; }
  .heading__h2 {
    font-size: 7rem;
    letter-spacing: 0.5rem;
    padding-left: 0.5rem;
    line-height: initial;
    margin-bottom: 4rem;
    padding-top: 4rem; }
    .heading__h2__sos {
      margin-bottom: 0;
      font-family: 'Titillium Web', sans-serif;
      color: #d83177; }
      @media only screen and (max-width: 56.25em) {
        .heading__h2__sos {
          line-height: 6rem; } }
  .heading__h3 {
    font-size: 3rem;
    line-height: initial;
    color: #f7f7f7;
    letter-spacing: 0.2rem;
    padding-left: 0.2rem;
    line-height: 6rem;
    text-transform: initial; }

.ruler {
  border-radius: 50px;
  height: 0.5rem;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffb089, #e97dbf);
  margin: 0 auto;
  margin-bottom: 2rem; }

.font__large {
  font-size: 500% !important; }

.paragraph {
  font-size: 2.6rem;
  color: #222;
  width: 85rem;
  max-width: 80vw;
  margin: 0 auto;
  text-align: justify;
  line-height: 3.6rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      max-width: 85vw; } }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  .paragraph__centered {
    margin-top: 3rem;
    text-align: center; }
  .paragraph__medium {
    margin-top: 2rem;
    font-weight: 700;
    width: 70rem;
    max-width: 80vw; }
  .paragraph__strong {
    font-size: 3.4rem;
    font-weight: 700;
    max-width: 60rem;
    width: 60rem;
    max-width: 80vw;
    line-height: 4.7rem; }
    .paragraph__strong__sos {
      margin-top: 1rem;
      font-size: 5rem !important; }
  .paragraph__link {
    text-decoration: none;
    color: #7e358f;
    transition: color .3s; }
    .paragraph__link:hover {
      color: #ffb089; }
  .paragraph__link__light {
    color: #ffb089; }
    .paragraph__link__light:hover {
      color: #7e358f; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 3rem; } }
  .paragraph__light {
    color: #f7f7f7; }

.list {
  line-height: 3.6rem;
  font-size: 2.6rem;
  margin: 0 auto 2rem auto;
  margin-bottom: 2rem;
  max-width: 75vw; }
  .list li:not(:last-child) {
    margin-bottom: 1rem; }
  .list__light {
    color: #f7f7f7; }
  .list__dark {
    color: #222; }
  .list__icons {
    list-style: none;
    width: 70rem;
    max-width: 80vw; }
    .list__icons__item {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .list__icons__item:not(:last-child) {
        margin-bottom: 2rem; }
      .list__icons__item p {
        margin-left: 10px; }

.icon {
  transition: all .3s;
  height: 50px; }
  @media only screen and (max-width: 56.25em) {
    .icon {
      height: 30px; } }
  .icon__container {
    margin-top: 2rem; }
    .icon__container a:not(:last-child) {
      margin-right: 2rem; }
  .icon:hover {
    transform: scale(1.05); }
  .icon:active {
    transform: scale(1.02); }
  .icon__fb:hover {
    transform: scale(1.05); }
  .icon__fb:active {
    transform: scale(1.02); }

#landing::before {
  opacity: 0.9; }

.video-bg {
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5; }

.video-fg,
.video-bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  @media only screen and (max-width: 56.25em) {
    .video-fg,
    .video-bg iframe {
      transform: scale(1.4); } }

#vidtop-content {
  top: 0;
  color: #fff; }

@media (min-aspect-ratio: 16 / 9) {
  .video-fg {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-fg {
    width: 300%;
    left: -100%; } }

.button {
  background-color: #7e358f;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: all .2s;
  box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 30%;
  min-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-decoration: none;
  font-size: 2.6rem;
  color: #f7f7f7;
  letter-spacing: 1px; }
  .button__sos {
    font-size: 3rem; }
  .button__small {
    display: inline-block;
    min-height: 4rem;
    max-width: initial;
    text-align: center;
    padding: 0 3rem 0.5rem 3rem;
    margin: 1rem;
    flex: 0;
    font-size: 3rem; }
    .button__small:hover {
      transform: translateX(0.4rem) !important; }
    @media only screen and (max-width: 37.5em) {
      .button__small {
        width: 8rem !important; } }
  .button__XL {
    padding: 1rem 1.5rem;
    max-width: 40rem;
    width: 80%;
    font-size: 3.4rem; }
    .button__XL:not(:last-child) {
      margin-right: 1%; }
  @media only screen and (max-width: 37.5em) {
    .button {
      width: 100%;
      max-width: initial;
      font-size: 3rem; } }
  .button:not(:last-child) {
    margin-right: 3%; }
    @media only screen and (max-width: 75em) {
      .button:not(:last-child) {
        margin-right: 2%; } }
    @media only screen and (max-width: 37.5em) {
      .button:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 1.5rem; } }
  .button:hover {
    transform: scale(1.04);
    box-shadow: 2px 4px 0.5rem rgba(0, 0, 0, 0.3); }
    .button:hover .button__text__1 {
      opacity: 0; }
    .button:hover .button__text__2 {
      opacity: 1; }
  .button:active {
    transform: scale(1.02);
    box-shadow: 1px 3px 0.5rem rgba(0, 0, 0, 0.3); }
  .button__text {
    position: absolute;
    transition: all .4s; }
    .button__text__1 {
      opacity: 1; }
    .button__text__2 {
      opacity: 0; }
  .button__green {
    background-color: #458579;
    transform: scale(1) skew(0) rotate(0); }
    .button__green:hover {
      background-color: #145045;
      transform: scale(1) skew(0) rotate(0); }
  .button__yellow {
    background-color: #f57f30;
    transform: scale(1) skew(0) rotate(0); }
    .button__yellow:hover {
      background-color: #db6a1f;
      transform: scale(1.1) skew(-7deg) rotate(5deg); }
  .button__red {
    background-color: #d83177;
    transform: scale(1) skew(0) rotate(0);
    font-size: 5rem !important; }
    .button__red:hover {
      background-color: #922150;
      transform: scale(1.3) skew(-24deg) rotate(7.1deg); }
  .button__single {
    margin-top: 2rem;
    margin-right: 0 !important;
    margin-bottom: 4rem !important;
    max-width: 80vw; }
    .button__single__sos {
      width: 50rem;
      font-size: 3rem;
      background-color: #7e358f; }
      .button__single__sos:hover {
        background-color: #922150; }
      @media only screen and (max-width: 56.25em) {
        .button__single__sos {
          font-size: 4rem; } }

.clippath {
  z-index: 999;
  clip-path: polygon(0 12.1vw, 100% 0, 100% calc(100% - 12.1vw), 0 100%); }
  .clippath__s {
    clip-path: polygon(0 6vw, 100% 0, 100% calc(100% - 6vw), 0 100%); }
  .clippath__bottom {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12.1vw), 0 100%); }
    .clippath__bottom__s {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%); }
  .clippath__top__s {
    clip-path: polygon(0 6vw, 100% 0, 100% 100%, 0 100%); }

.countdown-container {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1rem;
  display: flex;
  flex-direction: row;
  transform: skew(-7deg) rotate(-7deg);
  justify-content: space-between;
  text-shadow: 2px 2px 5px black;
  max-width: 90vw; }
  @media only screen and (max-width: 75em) {
    .countdown-container {
      font-size: 3rem; } }

.countdown__item {
  text-align: center;
  min-width: 11rem; }
  @media only screen and (max-width: 75em) {
    .countdown__item {
      min-width: 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .countdown__item {
      min-width: 9rem; } }
  @media only screen and (max-width: 37.5em) {
    .countdown__item {
      min-width: 8rem; } }
  @media only screen and (max-width: 25em) {
    .countdown__item {
      min-width: 7rem; } }
  .countdown__item:not(:last-child) {
    margin-right: 10px; }
    @media only screen and (max-width: 56.25em) {
      .countdown__item:not(:last-child) {
        margin-right: 4px; } }
    @media only screen and (max-width: 37.5em) {
      .countdown__item:not(:last-child) {
        margin-right: 3px; } }

.co-op {
  min-height: 70vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222; }
  .co-op__logo-container {
    margin-top: 1rem;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .co-op__logo {
    width: 40rem;
    padding: 2rem;
    transition: all .3s; }
    .co-op__logo:hover {
      transform: scale(1.04); }
    .co-op__logo:active {
      transform: scale(1.02); }

.footer {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem; }
  .footer__logo {
    transition: all .3s; }
    .footer__logo:hover {
      transform: scale(1.04); }
    .footer__logo__asteriski {
      width: 180px;
      max-width: 50vw;
      height: auto; }
      @media only screen and (max-width: 56.25em) {
        .footer__logo__asteriski {
          width: 120px; } }

.contact {
  margin: 2rem 0 12rem 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      font-size: 3rem; } }
  .contact__name {
    transition: all .3s; }
    .contact__name a:visited,
    .contact__name a:link {
      color: #999;
      text-decoration: none; }
    .contact__name:hover {
      color: #777;
      transform: scale(1.03); }
    .contact__name:active {
      transform: scale(1.02); }

header {
  position: relative;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222; }

#landing {
  overflow: hidden; }

.header-logo {
  width: 45rem;
  max-width: 80vw;
  height: auto;
  max-height: 40vh; }

.header-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99; }

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: 0;
  position: relative;
  max-height: 50vh; }

.landing-bg-switcher {
  position: fixed;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0; }
  .landing-bg-switcher li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 30s linear infinite; }
    .landing-bg-switcher li:nth-child(1) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_1.jpg"); }
    .landing-bg-switcher li:nth-child(2) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_2.jpg");
      animation-delay: 10s; }
    .landing-bg-switcher li:nth-child(3) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_3.jpg");
      animation-delay: 20s; }
    @media only screen and (max-width: 37.5em) {
      .landing-bg-switcher li:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_1_mob.jpg"); }
      .landing-bg-switcher li:nth-child(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_2_mob.jpg");
        animation-delay: 10s; }
      .landing-bg-switcher li:nth-child(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landing_bg_3_mob.jpg");
        animation-delay: 20s; } }

.beprepared {
  background-color: #eeeeee;
  padding: 26rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media only screen and (max-width: 75em) {
    .beprepared {
      padding: 18rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .beprepared {
      padding: 12rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .beprepared {
      padding: 9rem 0; } }

.landing-container {
  margin: 6rem 8rem 8rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: 50% 50%; }
  @media only screen and (max-width: 56.25em) {
    .landing-container {
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .landing-container {
      padding: 2rem; } }
  .landing-container__paragraph {
    font-size: 4rem;
    margin: 1rem auto;
    color: #f7f7f7; }
    @media only screen and (max-width: 56.25em) {
      .landing-container__paragraph {
        font-size: 5rem; } }
  .landing-container__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .landing-container__nav {
        flex-direction: column;
        width: 60vw; } }

.landing__nav {
  min-height: 70vh;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222; }
  .landing__nav__container {
    width: 90%;
    display: flex;
    flex-wrap: wrap; }
    .landing__nav__container__link {
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
      height: 20rem;
      min-width: 32%;
      margin: 1rem auto;
      font-size: 3rem;
      text-decoration: none;
      background-size: cover;
      background-image: linear-gradient(to right bottom, #f7f7f7, #458579), url(../img/boxnavimg/kailabw.jpg); }
      .landing__nav__container__link:hover .landing__nav__container__link__item {
        opacity: 1; }
      @media only screen and (max-width: 56.25em) {
        .landing__nav__container__link {
          min-width: 45%; } }
      @media only screen and (max-width: 37.5em) {
        .landing__nav__container__link {
          min-width: 90%; } }
      .landing__nav__container__link__item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid transparent;
        background-image: linear-gradient(to right bottom, #458579, #f7f7f7);
        background-size: cover;
        transform: scale(1.1);
        transition: all 0.5s;
        opacity: 0; }
        .landing__nav__container__link__item__p {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          color: #f7f7f7;
          font-size: 4rem; }
          .landing__nav__container__link__item__p:hover {
            color: #222; }

#nav__js {
  transition: all .4s; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #7e358f;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 0.5rem;
  z-index: 2000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      height: 6rem;
      width: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 10%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#7e358f, #ffb089);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem;
      height: 4rem;
      width: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; }

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  height: 90vh;
  width: 60vw; }
  @media only screen and (max-height: 33em) and (orientation: landscape) {
    .navigation__list {
      height: 60vh;
      width: 70vw;
      align-items: flex-start; } }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
  transition: all .3s; }
  @media only screen and (max-height: 33em) and (orientation: landscape) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem; } }

.navigation__link:hover, .navigation__link:active {
  transform: rotate(-6.1deg) skew(-12deg); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__button:nth-child(2) {
  background-color: #fff; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before,
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  background-color: #7e358f; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .navigation__icon {
      margin-top: 3rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 4rem;
    height: 3px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -1.2rem; }
  .navigation__icon::after {
    top: 1.2rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.6rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.6rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.sos__nav__button {
  background-color: #d83177;
  width: 10rem;
  right: 12rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sos__nav__button:hover {
    background-color: #922150; }
  @media only screen and (max-width: 56.25em) {
    .sos__nav__button {
      height: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .sos__nav__button {
      top: 3rem;
      right: 11rem; } }
  .sos__nav__button a:visited, .sos__nav__button a:link {
    font-family: 'Squada one', sans-serif;
    font-size: 4.5rem;
    color: #f7f7f7;
    letter-spacing: 2px;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .sos__nav__button a:visited, .sos__nav__button a:link {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .sos__nav__button a:visited, .sos__nav__button a:link {
        font-size: 6rem; } }
    @media only screen and (max-width: 25em) {
      .sos__nav__button a:visited, .sos__nav__button a:link {
        font-size: 6rem; } }

.ohjelma {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ohjelma li {
    list-style: none; }

.section__dark {
  background-color: #222; }

.section__light {
  background-color: #f7f7f7; }

.page-container {
  padding: 5rem 4rem 7rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .page-container {
      padding: 5rem 2rem 7rem 2rem; } }

.clippath__s .page-container {
  padding: 10rem 4rem 14rem 4rem; }
  @media only screen and (max-width: 56.25em) {
    .clippath__s .page-container {
      padding: 8rem 3rem 12rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .clippath__s .page-container {
      padding: 6rem 2rem 10rem 2rem; } }

#sos__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/sos_bg.jpg");
  min-height: 90vh; }

.sos__yellow, .sos__red {
  display: none; }

.list__icons li:last-child a.button.button__small {
  padding: 1.5rem 3rem 2rem 3rem; }

.sos__nav {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem auto; }
  @media only screen and (max-width: 56.25em) {
    .sos__nav {
      flex-direction: column; } }

.sos__button {
  color: #f7f7f7;
  text-align: center;
  padding: 2rem 0;
  text-decoration: none;
  width: 22%;
  margin: 1rem;
  font-size: 2.4rem;
  transition: all .3s; }
  @media only screen and (max-width: 75em) {
    .sos__button {
      width: 40%;
      font-size: 3.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .sos__button {
      width: 50rem;
      max-width: 80vw; } }

.sos__green .button__small {
  background-color: #458579; }
  .sos__green .button__small:hover {
    background-color: #145045; }

.sos__green .list__icons li:last-child a.button.button__small {
  background-color: #2275ac; }
  .sos__green .list__icons li:last-child a.button.button__small:hover {
    background-color: #1a5983; }

.sos__yellow .button__small {
  background-color: #f57f30; }
  .sos__yellow .button__small:hover {
    background-color: #db6a1f; }

.sos__yellow .list__icons li:last-child a.button.button__small {
  background-color: #2275ac; }
  .sos__yellow .list__icons li:last-child a.button.button__small:hover {
    background-color: #1a5983; }

body#sos {
  background-color: #f7f7f7; }
  body#sos #sos__landing-container > *:not(:last-child) {
    margin-top: 0;
    margin-bottom: 4rem; }
  body#sos .heading__h1 {
    line-height: 14rem; }
    @media only screen and (max-width: 37.5em) {
      body#sos .heading__h1 {
        line-height: 11rem; } }

@media only screen and (max-width: 56.25em) {
  ul#taxi-list {
    width: initial;
    max-width: 98vw; } }

#sos__footer {
  padding-top: 10rem; }

.aukioloajat_heading {
  width: 85rem;
  max-width: 85vw; }

.sos__aukiolot {
  width: initial;
  margin: 0 auto 4rem auto; }

.button__XL {
  max-width: 40rem;
  width: 80%;
  font-size: 3.4rem; }
  .button__XL:not(:last-child) {
    margin-right: 1%; }

.hide {
  display: none; }
